name: Snowkelus (Apache)
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 */3 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
          - name: HTTP Server Action
            uses: Eun/http-server-action@v1.0.10
            
